<div class="form">
  <%= form_with model: question do |f| %>
    <% if question.errors.any? %>
        <div class="mt">
          <% question.errors.full_messages.each do |message| %>
            <p class="mb-sm text-red"><%= message %></p>
          <% end %>
        </div>
    <% end %>
    <%# Скрытое поле — айдишник юзера, кому задается вопрос %>
    <%= f.hidden_field :user_id %>
    <% if session[:user_id].present? && session[:user_id] != question[:user_id] %>
      <% question[:author_id] = session[:user_id] %>
      <%= f.hidden_field :author_id %>
    <% end %>

      <p class="mb-sm"><%= f.label :body, "Your question"%></p>
      <%= f.text_area :body, rows: 5, class: 'form-text-area' %>

      <% if current_user.present? && current_user == question.user %>
        <div class="form-field">
          <p class="mb-sm"><%= f.label :answer, 'Answer'%></p>
          <%= f.text_area :answer, rows: 5, class: 'form-text-area' %>
        </div>
      <% end %>

      <p class="mt"><%= f.submit 'Send', class: 'button button-main' %></p>
  <% end %>
</div>
