<div class="question-text text-lead mb-sm">
  <%= question.body %>
</div>
<% if question.author_id.present? %>
  <p class="mb-sm">@<%= question.author.nickname %></p>
<% end %>

<div class="text-sm question-footer">
  <div class="ext-grey">
    <%= l(question.created_at, format: :short) %>
  </div>
  <% edit_icon = question.answer.blank? ? 'reply' : 'pencil' %>
  <% if question.user == current_user %>
    <div>
      <%= link_to fa_icon(edit_icon), edit_question_path(question),
        title: "Edit question" %>
      <%= button_to fa_icon('trash-o'), question_path(question),
        method: :delete, title: "Delete question" %>
    </div>
  <% end %>
 </div>


 <% if question.answer.present? %>
  <div class="question-answer text-lead mt">
    <%= question.answer if question.answer.present? %>
  </div>
<% end %>